html,
body,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

article,
aside {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  margin: 1em 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  line-height: 1.3;
}

a {
  color: inherit;
  text-decoration: none;
}

.topbar {
  background: #2c3e50;
  color: #fff;
}

.topbar-logo {
  display: block;
  text-align: center;
  font-size: 24px;
  padding: 11px 0;
}

.topbar-nav {
  text-align: center;
  padding-bottom: 16px;
  line-height: 2;
}

.topbar-nav a {
  display: inline-block;
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.67);
  transition: color 0.3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
  color: #fff;
}

.container {
  padding: 0 15px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.site {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.main {
  margin-bottom: 20px;
}

.profil {
  display: none;
}

.sidebar a {
  display: block;
  width: 50%;
  padding: 0.6em 0;
  transition: 0.3s;
  border: solid 1px transparent;
  padding-left: 10px;
}

.sidebar a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 20px;
  opacity: 0.67;
  background: url(img/home.svg) center center / contain no-repeat;
  transition: opacity 0.3s;
}

.sidebar .sidebar-messages::before {
  background-image: url(img/messages.svg);
}

.sidebar .sidebar-events::before {
  background-image: url(img/calendar.svg);
}

.sidebar .sidebar-group::before {
  background-image: url(img/group.svg);
}

.sidebar a:hover,
.sidebar a.active {
  color: #000;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  background: #fff;
  font-weight: bold;
}

.sidebar a:hover::before,
.sidebar a.active::before {
  opacity: 1;
}

.card {
  border: solid 1px #dbdbdb;
  background: #fff;
  border-radius: 3px;
  margin-bottom: 15px;
}

.card:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 10px;
  position: relative;
}

.card-header-avatar {
  padding-left: 65px;
}

.card-avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.card-title {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  margin-bottom: 5px;
}

.card-date {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
}

.card-body {
  padding: 0 10px 20px 10px;
}

.card-body a {
  text-decoration: underline;
}

.card-body .fullwidth {
  width: calc(100% + 20px);
  display: block;
  margin-left: -10px;
  margin-right: -10px;
}

.card-body p:first-child {
  margin-top: 0;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-footer {
  border-top: solid 1px #dbdbdb;
  background: #fbfbfb;
  display: flex;
  padding: 10px;
  font-size: 12px;
  color: #bdbdbd;
}

.card-footer a:hover {
  text-decoration: underline;
}

.card-like::before,
.card-comments::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url(img/thumb-up.svg) center center / 20px 18px no-repeat;
}

.card-comments {
  margin-left: auto;
}

.card-comments::before {
  background: url(img/comment.svg) center center / 18px 17px no-repeat;
}

.sidebar-title {
  margin-top: 30px;
  margin-bottom: 18px;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.sidebar-title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  background: #000;
}

.friend {
  margin: 14px 0;
  display: flex;
}

.friend-body {
  display: flex;
  flex-direction: column;
}

.friend-avatar {
  width: 73px;
  height: 73px;
  flex: none;
  margin-right: 10px;
}

.friend-name {
  display: block;
  font-weight: bold;
  color: #000;
  font-size: 15px;
  margin-bottom: 5px;
}

.friend-connections {
  color: rgba(0, 0, 0, 0.38);
  font-size: 12px;
}

.friend-add {
  display: block;
  font-size: 12px;
  color: #000;
  margin-top: auto;
  margin-bottom: 3px;
}

.friend-add::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 13px;
  transform: translateY(-1px);
  background: center center / 18px 13px no-repeat url(img/user-add.svg);
  vertical-align: middle;
  margin-right: 5px;
}

@media only screen and (min-width: 520px) {
  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 25px;
  }
  .topbar-logo,
  .topbar-nav {
    padding: 0;
  }
  .topbar-nav a {
    margin: 0 20px;
  }
}

@media only screen and (min-width: 950px) {
  .site {
    display: flex;
  }

  .profil {
    display: block;
  }

  .sidebar {
    display: block;
    flex: none;
    width: 180px;
  }

  .sidebar a {
    width: 100%;
  }

  .main {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .aside {
    flex: none;
    width: 310px;
  }
}
